<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{bootstrap.load_css()}}
    {{bootstrap.load_js()}}
</head>
<body style="text-align: center;">
    <h1>CST 205 Random Picture Gallery</h1>
    {% for i in range(3) %}
        <a href="{{url_for('picture', temp = data[i]['id'])}}"><h3>{{data[i]['title']}}</h3></a>
        <img
            src="/static/images/{{data[i]['id']}}.jpg"
            width="250"
            class="img-fluid rounded"
            alt="{{data[i]['title']}}"
        >
        <br>
        <br>
    {% endfor %}



</body>
</html>